
<h2 class="text-center">Alocação da sala <%= @room.identifier %> para evento não repetitivo</h2>

<h3><i class="fa fa-book"></i> Dados do evento
  <br>
  <small>Informe os dados do evento que ocorrerá nessa sala.</small>
</h3>
<br>

<%= form_tag room_allocate_non_repetitive_event_path, :method => "post" , id: "allocate-room-form" do %>

  <%= hidden_field_tag :event_type, "NonRepetitiveEvent" %>

  <div class="row">
    <div class="col-md-4">
      <%= label_tag(:name, "Nome do evento") %>
      <%= text_field_tag(:name, '', {class: 'form-control'}) %>
    </div>
    <div class="col-md-4">
      <%= label_tag(:responsible, "Responsável pela sala") %>
      <%= text_field_tag(:responsible, '', {class: 'form-control'}) %>
    </div>
  </div>

  <br>
  <h4><i class="fa fa-clock-o"></i> Período do evento
    <br>
    <small>Informe os dias da semana e os horários que ocorreram o evento.</small>
  </h4>
  <div class="row">
    <div class="col-md-4">
      <div id="not_repetitive_date">
        <input type='text' class="form-control" id='days' name="days"/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group bootstrap-timepicker timepicker">
        <input id="start_time" name="start_time" type="text" class="form-control input-small" placeholder="Hora inicial">
        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group bootstrap-timepicker timepicker">
        <input id="end_time" name="end_time" type="text" class="form-control input-small" placeholder="Hora final">
        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
      </div>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-12">
      <div id="new_event_btn" >
        <%= submit_tag "Novo evento para a sala #{@room.identifier}", class: "btn btn-primary btn-lg btn-block"%>
      </div>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){
    var options = {
      maxHours: 24,
      showMeridian: false,
      minuteStep: 60,
      defaultTime: false,
      icons: {
        up: 'fa fa-chevron-up',
        down: 'fa fa-chevron-down'
      }
    };
    $('#start_time').timepicker(options);
    $('#end_time').timepicker(options);
    $('#days').datepicker({
      multidate: true,
      language: 'pt'
    });
  });
</script>