
<h2 class="text-center">Dados da sala <%= @room.identifier %></h2>

<b>Identificador da sala</b>: <%= @room.identifier || '-' %><br>
<b>Apelido da sala</b>: <%= @room.nickname || '-' %><br>
<b>Capacidade</b>: <%= @room.capacity || '-' %><br>

<h3>Eventos desta sala: </h3>
<div class="row">
  <% @room.events.each do |event| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= event.name %></h4></div>
        <div class="panel-body">
          <p><b>Responsável:</b> <%= event.responsible %></p>
          <p><b>Hora de início:</b> <%= event.start_time %></p>
          <p><b>Hora de término:</b> <%= event.end_time %></p>
          <% if event.respond_to?(:days) && !event.days.nil? %>
            <p><b>Dias:</b> <%= event.print_days_of_week %></p>
          <% end %>
        </div>
        <div class="panel-footer">
          <%= link_to "Cancelar evento", cancel_event_path(event), class: 'btn btn-block btn-danger' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>
<br>
<div class="row">
  <div class="col-md-3">
    <%=
      link_to(
        "Alocar sala para evento repetitivo",
        room_allocate_repetitive_path(@room),
        {class: "btn btn-lg"}
      )
    %>
  </div>
  <div class="col-md-3">
    <%=
      link_to(
        "Alocar sala para evento NÃO repetitivo",
        room_allocate_non_repetitive_path(@room),
        {class: "btn btn-lg"}
      )
    %>
  </div>
</div>
